HealthCareMvc5/HealthCareMvc5/Service References/LogInServiceReference/LogInService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogin1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Login1" nillable="true" type="tns:Login1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogin1" nillable="true" type="tns:ArrayOfLogin1" />
  <xs:complexType name="Login1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:long" />
      <xs:element minOccurs="0" name="BirthDayCount" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" type="xs:long" />
      <xs:element minOccurs="0" name="DateofBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:long" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mid" type="xs:long" />
      <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Sid" type="xs:long" />
      <xs:element minOccurs="0" name="Slink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecord" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smid" type="xs:long" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login1" nillable="true" type="tns:Login1" />
</xs:schema>