HealthCareMvc5/HealthCareMvc5/Service References/LogInServiceReference/LogInService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogInService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9084/LogInService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9084/LogInService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9084/LogInService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogInService_ListOrganizationName_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOrganizationName" />
  </wsdl:message>
  <wsdl:message name="ILogInService_ListOrganizationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOrganizationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInService_MyUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:MyUserName" />
  </wsdl:message>
  <wsdl:message name="ILogInService_MyUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInService_Orgname_InputMessage">
    <wsdl:part name="parameters" element="tns:Orgname" />
  </wsdl:message>
  <wsdl:message name="ILogInService_Orgname_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrgnameResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInService_UserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:message name="ILogInService_UserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogInService">
    <wsdl:operation name="ListOrganizationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInService/ListOrganizationName" message="tns:ILogInService_ListOrganizationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/ListOrganizationNameResponse" message="tns:ILogInService_ListOrganizationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInService/MyUserName" message="tns:ILogInService_MyUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/MyUserNameResponse" message="tns:ILogInService_MyUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Orgname">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInService/Orgname" message="tns:ILogInService_Orgname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/OrgnameResponse" message="tns:ILogInService_Orgname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInService/UserDetails" message="tns:ILogInService_UserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInService/UserDetailsResponse" message="tns:ILogInService_UserDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogInService" type="tns:ILogInService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListOrganizationName">
      <soap:operation soapAction="http://tempuri.org/ILogInService/ListOrganizationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyUserName">
      <soap:operation soapAction="http://tempuri.org/ILogInService/MyUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Orgname">
      <soap:operation soapAction="http://tempuri.org/ILogInService/Orgname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <soap:operation soapAction="http://tempuri.org/ILogInService/UserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogInService">
    <wsdl:port name="BasicHttpBinding_ILogInService" binding="tns:BasicHttpBinding_ILogInService">
      <soap:address location="http://localhost:9084/LogInService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>