HealthCareMvc5/HealthCareMvc5/Service References/LogInServiceReference/LogInService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9084/LogInService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" />
  <xs:element name="ListOrganizationName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrganizationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" minOccurs="0" name="ListOrganizationNameResult" nillable="true" type="q1:ArrayOfLogin1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" minOccurs="0" name="MyUserNameResult" nillable="true" type="q2:Login1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Orgname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrgnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgnameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthCareObjects.UserRights" minOccurs="0" name="UserDetailsResult" nillable="true" type="q3:Login1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>