HealthCareMvc5/HealthCareMvc5/Service References/IssueApprovalServiceRef/IssueApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IssueApprovalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9084/IssueApprovalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9084/IssueApprovalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9084/IssueApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIssueApprovalService_Updateissueapproval_InputMessage">
    <wsdl:part name="parameters" element="tns:Updateissueapproval" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_Updateissueapproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateissueapprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUpdate" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListMainPagebyUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMainPagebyUserID" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListMainPagebyUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMainPagebyUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_clientList_InputMessage">
    <wsdl:part name="parameters" element="tns:clientList" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_clientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientListResponse" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:ListGrid" />
  </wsdl:message>
  <wsdl:message name="IIssueApprovalService_ListGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListGridResponse" />
  </wsdl:message>
  <wsdl:portType name="IIssueApprovalService">
    <wsdl:operation name="Updateissueapproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IIssueApprovalService/Updateissueapproval" message="tns:IIssueApprovalService_Updateissueapproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIssueApprovalService/UpdateissueapprovalResponse" message="tns:IIssueApprovalService_Updateissueapproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IIssueApprovalService/ListUpdate" message="tns:IIssueApprovalService_ListUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIssueApprovalService/ListUpdateResponse" message="tns:IIssueApprovalService_ListUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMainPagebyUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IIssueApprovalService/ListMainPagebyUserID" message="tns:IIssueApprovalService_ListMainPagebyUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIssueApprovalService/ListMainPagebyUserIDResponse" message="tns:IIssueApprovalService_ListMainPagebyUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IIssueApprovalService/clientList" message="tns:IIssueApprovalService_clientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIssueApprovalService/clientListResponse" message="tns:IIssueApprovalService_clientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IIssueApprovalService/ListGrid" message="tns:IIssueApprovalService_ListGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIssueApprovalService/ListGridResponse" message="tns:IIssueApprovalService_ListGrid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIssueApprovalService" type="tns:IIssueApprovalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Updateissueapproval">
      <soap:operation soapAction="http://tempuri.org/IIssueApprovalService/Updateissueapproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUpdate">
      <soap:operation soapAction="http://tempuri.org/IIssueApprovalService/ListUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMainPagebyUserID">
      <soap:operation soapAction="http://tempuri.org/IIssueApprovalService/ListMainPagebyUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientList">
      <soap:operation soapAction="http://tempuri.org/IIssueApprovalService/clientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGrid">
      <soap:operation soapAction="http://tempuri.org/IIssueApprovalService/ListGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssueApprovalService">
    <wsdl:port name="BasicHttpBinding_IIssueApprovalService" binding="tns:BasicHttpBinding_IIssueApprovalService">
      <soap:address location="http://localhost:9084/IssueApprovalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>