HealthCareMvc5/HealthCareMvc5/Service References/CompliantApprovalServiceRef/CompliantApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompliantApprovalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9084/CompliantApprovalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9084/CompliantApprovalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9084/CompliantApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompliantApprovalService_CreateComments_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComments" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_CreateComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_UpdateCompliantApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompliantApproval" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_UpdateCompliantApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompliantApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUpdate" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListMainPage_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMainPage" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListMainPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMainPageResponse" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:ListGrid" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListGridResponse" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListClientIssueEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:ListClientIssueEntry" />
  </wsdl:message>
  <wsdl:message name="ICompliantApprovalService_ListClientIssueEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListClientIssueEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompliantApprovalService">
    <wsdl:operation name="CreateComments">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/CreateComments" message="tns:ICompliantApprovalService_CreateComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/CreateCommentsResponse" message="tns:ICompliantApprovalService_CreateComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompliantApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/UpdateCompliantApproval" message="tns:ICompliantApprovalService_UpdateCompliantApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/UpdateCompliantApprovalResponse" message="tns:ICompliantApprovalService_UpdateCompliantApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListUpdate" message="tns:ICompliantApprovalService_ListUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListUpdateResponse" message="tns:ICompliantApprovalService_ListUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMainPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListMainPage" message="tns:ICompliantApprovalService_ListMainPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListMainPageResponse" message="tns:ICompliantApprovalService_ListMainPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListGrid" message="tns:ICompliantApprovalService_ListGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListGridResponse" message="tns:ICompliantApprovalService_ListGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListClientIssueEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListClientIssueEntry" message="tns:ICompliantApprovalService_ListClientIssueEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompliantApprovalService/ListClientIssueEntryResponse" message="tns:ICompliantApprovalService_ListClientIssueEntry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompliantApprovalService" type="tns:ICompliantApprovalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComments">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/CreateComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompliantApproval">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/UpdateCompliantApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUpdate">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/ListUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMainPage">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/ListMainPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGrid">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/ListGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListClientIssueEntry">
      <soap:operation soapAction="http://tempuri.org/ICompliantApprovalService/ListClientIssueEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompliantApprovalService">
    <wsdl:port name="BasicHttpBinding_ICompliantApprovalService" binding="tns:BasicHttpBinding_ICompliantApprovalService">
      <soap:address location="http://localhost:9084/CompliantApprovalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>