HealthCareMvc5/HealthCareMvc5/Service References/CompliantApprovalServiceRef/CompliantApprovalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IssueClearance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activeflage" type="xs:long" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignTo" type="xs:long" />
      <xs:element minOccurs="0" name="AssignedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignedID" type="xs:long" />
      <xs:element minOccurs="0" name="BranchID" type="xs:long" />
      <xs:element minOccurs="0" name="ClientID" type="xs:long" />
      <xs:element minOccurs="0" name="ClientIssueNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientNameID" type="xs:long" />
      <xs:element minOccurs="0" name="ClosedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentsDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentsID" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompliantDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompliantNo" type="xs:long" />
      <xs:element minOccurs="0" name="CompltIssueNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DailyUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeatureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileUploadflag" type="xs:int" />
      <xs:element minOccurs="0" name="FormID" type="xs:long" />
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fromtime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsIssueNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssueDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="IssueFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueFromId" type="xs:long" />
      <xs:element minOccurs="0" name="IssueID" type="xs:long" />
      <xs:element minOccurs="0" name="IssueSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" type="xs:long" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OurDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityId" type="xs:long" />
      <xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNO" type="xs:int" />
      <xs:element minOccurs="0" name="SeverityId" type="xs:long" />
      <xs:element minOccurs="0" name="SeverityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="TaskId" type="xs:long" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:long" />
      <xs:element minOccurs="0" name="Type" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueClearance" nillable="true" type="tns:IssueClearance" />
  <xs:complexType name="CompliantApproval">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activeflag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApprovalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApproveFlag" type="xs:long" />
      <xs:element minOccurs="0" name="ClientID" type="xs:long" />
      <xs:element minOccurs="0" name="ClientIssueNo" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompliantNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompliantRaisedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeatureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssueDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="Issueid" type="xs:long" />
      <xs:element minOccurs="0" name="Issuesubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfIssue" type="xs:int" />
      <xs:element minOccurs="0" name="OverAllPriority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNO" type="xs:long" />
      <xs:element minOccurs="0" name="Smcstatus" type="xs:long" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompliantApproval" nillable="true" type="tns:CompliantApproval" />
  <xs:complexType name="ArrayOfCompliantApproval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompliantApproval" nillable="true" type="tns:CompliantApproval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompliantApproval" nillable="true" type="tns:ArrayOfCompliantApproval" />
</xs:schema>