HealthCareMvc5/HealthCareMvc5/Service References/CompliantApprovalServiceRef/CompliantApprovalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9084/CompliantApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" />
  <xs:element name="CreateComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" minOccurs="0" name="objissue" nillable="true" type="q1:IssueClearance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCommentsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompliantApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" minOccurs="0" name="objCompliantNO" nillable="true" type="q2:CompliantApproval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompliantApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompliantApprovalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" minOccurs="0" name="objCompliantApproval" nillable="true" type="q3:ArrayOfCompliantApproval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMainPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageNo" type="xs:int" />
        <xs:element minOccurs="0" name="RowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMainPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" minOccurs="0" name="ListMainPageResult" nillable="true" type="q4:ArrayOfCompliantApproval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objissueDtlID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HealthCareObjects.Client" minOccurs="0" name="ListGridResult" nillable="true" type="q5:ArrayOfCompliantApproval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClientIssueEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueDetailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClientIssueEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListClientIssueEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>